@use './contador/Contador.scss';
@use './card/Card.scss';
@use './banner/Banner.scss';

@import '@fontsource/dancing-script';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
