* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


h1{
  color: white;
  font-weight: 400;
}

h2{
  color: white;
  font-family: Cardo, sans-serif;
}

.banner {
  width: 100vw;
  height: 80vh;
  display: block;
  margin: 0 auto;
  background-image: url('./assets/jazmin_portada.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}