@use '../../scss/colors';

:root {
  --progress: 0;
}

.scroll{
    max-width: 100vw;
    position: relative;
}

.seccion-globos{
    height: 120dvh;
    width: 100vw;
    background-color: colors.$background-color;
    position: relative;
}

.globo {
  width: 200vw;
  height: 100dvh;
  z-index: 2;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  pointer-events: none;
  will-change: transform;
}

/* globo izquierdo */
.globo-izq {
    position:fixed;
    top: 0;
    right: -10%;
    background-image: url("../../assets/image/globos.png");
    transform: translateX(calc(-220vw * var(--progress)));
}

/* globo derecho */
.globo-der {
    position: fixed;
    top: 0;
    left: -10%;
    background-image: url("../../assets/image/globos-right.png");
    transform: translateX(calc(220vw * var(--progress)));
}



.subtitle-banner{
    color: white;
    font-family: 'Dancing Script', Dancing Script Fallback;
    font-size: 4rem;
    width: 100%;
    padding: 5px;
    text-wrap: wrap;
}

.title-banner{
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
    width: 100%;
    padding-bottom: 5px;
    text-wrap: wrap;
}

.banner {
  width: 100%;
  height: 70dvh;
  display: block;
  margin: 0 auto;
  background-image: url('../../assets/image/jazmin_portada.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 2rem;
}

@media (min-width: 1200px) {
  .banner {
    min-height: 200dvh;

    h1 {
      font-size: 12rem;
    }

    p {
      font-size: 8rem;
    }
  }
}

.text-banner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 2rem;
}